include common/nav
include common/head

doctype html
html
  head
    +headstuff
    link(href='/style/index.css' rel='stylesheet')
  body
    .main
      +nav
      section.center
        header: h1 Internet Website Useless Machine
        p.
          Hi, I'm Tim. I am #[a(href='https://twitter.com/objelisks') @objelisks] on most of the internet.
          This website is a collection of my thoughts and projects and experiments.
