include common/footer

doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet')
    link(href='/style/index.css' rel='stylesheet')
  body
    header: h1 Hello World
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus ut velit consequat ultricies eu non diam. Vestibulum ullamcorper fringilla mauris, sit amet tempor libero tempor sit amet. In in placerat risus. Duis non fringilla sapien. In vestibulum porttitor feugiat. Integer vestibulum vitae augue venenatis fermentum. In euismod tellus est, eu lobortis sem luctus at. Donec mollis bibendum metus, sed pretium purus iaculis id. Nullam eget dignissim risus, quis scelerisque dolor. Curabitur quis elit leo. Cras hendrerit orci a massa efficitur, iaculis venenatis erat pretium. Duis sed sollicitudin mauris. Phasellus porta magna eu tellus congue facilisis. Pellentesque ultrices urna purus, in sagittis magna tincidunt cursus. Phasellus ultricies finibus orci et lobortis.

    +footer
