extends ../common/layout

block nav

block header
  h1 neat experimental projects

block main
  - let side = true;
  each thing in things
    .thing: a(href='/things/' + thing.url)= thing.name

block side