extends ../common/layout

block init
  - article = article || {};
  - let side = true;

block nav

block header
  h1 edit some of those posts

block main
  form(action='/blog', method='post')
    section
      section
        label(for='title'): strong title
        br
        input(name='title', type='text', value=article.title || '')
      section
        label(for='id'): strong slug
        br
        input(name='id', type='text' value=article.id || '')
    section
      label(for='body'): strong content
      br
      textarea(id='articleBody', name='body', cols='60', rows='10') #{article.body || ''}
    input(type='submit', value='submit')
  section#previewArea
  script(src='/scripts/marked.js')
  script.
    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById('articleBody').addEventListener('input', (e) => {
        document.getElementById('previewArea').innerHTML = marked(e.target.value);
      });
    });