extends ../common/layout

include ../common/admin
include ./post

block init
  - let side = true;

block nav
  +adminBox('blog', article)
  if articles
    aside
      h2 quicklinks
      ul
        each article in articles
          li: a(href='/blog/' + article.id)= article.title

block header
  h1 some real good posts

block main
  if article
    +post(article, false)
  else if articles
    each article in articles
      +post(article, true)

block side