include ../common/header
include ../common/head
include ../common/nav
include ../common/delete
include ../common/admin
include ./post

doctype html
html
  head
    +headstuff
  body
    .container
      +nav
        +adminBox('blog', article)
      section.content.narrow
        +header('hi welcome to blog posts')
        if article
          +post(article, false)
        else if articles
          each article in articles
            +post(article, true)
      if articles
        section.content.narrow
          +header('quicklinks')
          ul
            each article in articles
              li: a(href='/blog/' + article.id)= article.title