include ../common/header
include ../common/head
include ../common/nav
include ../common/delete
include ../common/admin
include project

doctype html
html
  head
    +headstuff
    link(href='/style/projects.css' rel='stylesheet')
  body
    +header('hi welcome to projects etc')
    aside.side
      +nav
    section
      +deletables
      each thing in projects
        +project(thing)
    +adminBox('projects')
