include ../common/header
include ../common/footer
include ../common/delete
include ../common/admin
include project

doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet')
    link(href='/style/projects.css' rel='stylesheet')
    include ../favicons.html
  body
    +header('hi welcome to projects etc')
    section
      +deletables
      each thing in projects
        +project(thing)
    +adminBox('projects')
    +footer
