include ../common/header
include ../common/head
include ../common/nav
include ../common/delete
include ../common/admin
include project

doctype html
html
  head
    +headstuff
  body
    +deletables
    .container
      +nav
        +adminBox('projects')
      section.content
        +header('hi welcome to projects etc')
        .container.wide
          each thing in projects
            +project(thing)
