extends ../common/layout

include project

block main
  -
    let groups = [];
    let rowlen = 3;
    for(let i=0; i<projects.length; i+=rowlen) {
      groups.push(projects.slice(i, i+rowlen));
    }
  each group in groups
    section.fl.w-100
      each thing in group
        +project(thing)
