include ../common/header
include ../common/head
include ../common/nav
include ../common/delete
include ../common/admin
include project

doctype html
html
  head
    +headstuff
  body
    .container
      +nav
      section.content
        +header('hi welcome to projects etc')
        each thing in projects
          +project(thing)
      +adminBox('projects')
