mixin project(data)
  article.project
    h2= data.title
    img(src='/images/projects/' + data.img)
    p= data.body
    if req.user && req.user.admin
      a.delete(href='#', onclick='deletePost("projects", "' + data.id + '")') delete
