mixin project(data)
  article.project.box
    .project-header
      h3.title= data.title
      if req.user && req.user.admin
        .container.column
          a.delete(href='#', onclick='deletePost("projects", "' + data.id + '")') delete
    img(src='/images/projects/' + data.img)
    p= data.body
    .project-actions
      each action in data.actions
        a(href=action.url)= action.action
