extends ../common/layout

include ../common/wave

block main
  -
    let started = new Date(2016, 8, 6);
    let now = Date.now();
    let weeks = Math.floor((now-started) / (1000*60*60*24*7));
  p.measure.ph2.f3.lh-copy.
    Hi, I'm Tim. I am #[a(href='https://twitter.com/objelisks').link.dim.blue @objelisks] on most of the internet.
    This website is a collection of my thoughts and projects and experiments.
    I've been working on this website for #{weeks} #{pluralize('week', weeks)},
    and it is #[span.i good] and #[span.b strong] and #[+wave('beautiful')].