
.admin:after {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  vertical-align: middle;
  content: "";
}

.admin.yes:after {
  background-image: url(../emoji/good.svg);
}
.admin.no:after {
  background-image: url(../emoji/dame.svg);
}

.wave {
  position: relative;
  animation: 0.5s linear 0s infinite alternate floating;
}
.wave-a {
  top: -3px;
  animation-delay: -.8s;
}
.wave-b {
  top: -0.6px;
  animation-delay: -.6s;
}
.wave-c {
  top: 1.8px;
  animation-delay: -.4s;
}
.wave-d {
  top: 1.2px;
  animation-delay: -.2s;
}
.wave-e {
  top: -1.2px;
  animation-delay: 0s;
}

@keyframes floating {
  from {
    top: -3px;
  }
  to {
    top: 3px;
  }
}
