@import 'https://fonts.googleapis.com/css?family=Vollkorn';

body {
  font-family: 'Telex', serif;
  font-size: 100%;
  
  background-color: #E6DDB3;
  color: #333;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #267370;
  transition: background-color 0.5s;
}

a:hover {
  border-radius: 8px;
  background-color: #9FDFDD;
}

.navbar {
  flex: 0 0.5 auto;
  max-width: 20%;
  padding: 6px;
  
  background-color: #B9DE9C;
}

.navbar ul {
  padding-left: 12px;
}

.navbar li {
  list-style: none;
  list-style-image: url(/emoji/donut.svg);
}

.content, .preview {
  text-align: left;
  
  padding: 6px;
  margin-left: 8px;
  margin-right: auto;
}

.narrow {
  max-width: 40%;
}

.column {
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: flex-start;
}

.wrap { 
  flex-wrap: wrap;
}

.box {
  background-color: #EEE;
  border-radius: 8px;
  box-shadow: 3px 3px 6px #333;
  margin: 8px;
  margin-bottom: 16px;
  padding: 8px;
}

hr {
  border-top: 2px solid #333;
}

.admin:after {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  vertical-align: middle;
  content: "";
}

.admin.yes:after {
  background-image: url(../emoji/good.svg);
}
.admin.no:after {
  background-image: url(../emoji/dame.svg);
}

.wave {
  position: relative;
  animation: 0.5s linear 0s infinite alternate floating;
}
.wave.a {
  top: -3px;
  animation-delay: -.8s;
}
.wave.b {
  top: -0.6px;
  animation-delay: -.6s;
}
.wave.c {
  top: 1.8px;
  animation-delay: -.4s;
}
.wave.d {
  top: 1.2px;
  animation-delay: -.2s;
}
.wave.e {
  top: -1.2px;
  animation-delay: 0s;
}

@keyframes floating {
  from {
    top: -3px;
  }
  to {
    top: 3px;
  }
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 250px;
  padding-bottom: 0px;
}

.project img {
  box-shadow: 3px 3px 3px #999;
}

.project-header, .project-actions {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.project-header .title {
  flex: 3 1 auto;
  margin: 3px;
}

.project-header div {
  margin: 6px;
}

.project-actions {
  height: 30px;
  line-height: 30px;
  margin-top: auto;
}

.project-actions a {
  flex: 1 1 auto;
}

.split {
  justify-content: space-between;
}

.seaoflinks .thing {
  line-height: 1.5;
  font-size: 1.2em;
}