include delete

mixin adminBox(place, context)
  aside
    h3 friendly admin box~~
    if !req.user
      a(href='/auth/twitter') twit auth
    else
      span= req.user.name
      a(href='/logout') logout
      if req.user.admin
        ul
          li: a(href='/' + place + '/edit/new') make a new one
          if context
            +deletables
            li: a(href='#', onclick='deletePost("' + place + '", "' + context.id + '")') delete
            li: a(href='/' + place + '/edit/' + context.id) edit
