mixin headstuff()
    title Useless Machine
    include ../favicons.html
    link(rel="stylesheet" href="//brick.a.ssl.fastly.net/Telex:400")
    link(href='/style/index.css' rel='stylesheet')
    script(src='/scripts/randomizeColor.js')