mixin headstuff()
    title Useless Machine
    meta(charset=utf-8)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    include ../favicons.html
    link(rel="stylesheet" href="//brick.a.ssl.fastly.net/Telex:400")
    link(href='/style/index.css' rel='stylesheet')
    -//script(src='/scripts/randomizeColor.js')