mixin nav
  nav.navbar#nav
    h2 website
    ul
      unless req.originalUrl === '/'
        li: a(href='/') about
      unless req.originalUrl === '/blog'
        li: a(href='/blog') blog
      unless req.originalUrl === '/projects'
        li: a(href='/projects') projects
      unless req.originalUrl === '/things'
        li: a(href='/things') things
      if !req.user || !req.user.admin
        li: a(href='/auth/twitter').admin.no admin
      else
        li: a(href='/logout').admin.yes admin
    if block
      block