mixin nav
  nav.navbar#nav
    h2 website
    ul
      li: a(href='/') about
      li: a(href='/blog') blog
      li: a(href='/projects') projects
      li: a(href='/things') things
      if !req.user || !req.user.admin
        li: a(href='/auth/twitter').admin.no admin
      else
        li: a(href='/logout').admin.yes admin
    if block
      block